@model  ViachappaFactAuth.DB.Order

@{
    Layout = null;
    int i = 1;

    var mybankacc = Model.Partner.PartnerBankAccounts.First();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OplataCountView</title>
    <style>
        table {
            border-collapse: collapse
        }

        td {
            vertical-align: top;
        }
    </style>
</head>
<body>
    <div>
        <p style="text-align:center;font:10px">Внимание! Оплата данного счета означает согласие с условиями поставки товара. Уведомление об оплате обязательно, в противном случае не гарантируется наличие товара на складе. Товар отпускается по факту прихода денег на р/с Поставщика, самовывозом, при наличии доверенности и паспорта.</p>
        <br />
        <table style="text-align:left;border-collapse:collapse;width:100%; vertical-align:top">
            <tr><td colspan="4" rowspan="2" style="border:1px solid">@mybankacc.BankName</td><td style="border:1px solid">БИК</td><td style="border:1px solid">@mybankacc.BIK</td></tr>
            <tr><td style="border:1px solid; border-bottom:none">Сч.№</td><td rowspan="2" style="border:1px solid">@mybankacc.CorrespondentAccount</td></tr>
            <tr><td colspan="4" style="border:1px solid;font:10px">Банк получателя</td></tr>
            <tr style="width:100%">
                <td style="text-align:left;border:1px solid black">ИНН</td>
                <td style="text-align:left;border:1px solid black">@Model.Partner.INN</td>
                <td style="text-align:left;border:1px solid black">КПП</td>
                <td style="text-align:left;border:1px solid black">@Model.Partner.KPP</td>
                <td rowspan="3" style="border:1px solid">Сч.№</td>
                <td rowspan="3" style="border:1px solid">@mybankacc.PaymentAccount</td>
            </tr>
            <tr><td colspan="4" style="border:1px solid">@Model.Partner.Name</td></tr>
            <tr><td colspan="4" style="border:1px solid;font:10px">Получатель</td></tr>
        </table>
        <br />
        <h1 style="font:22px;margin-bottom:0px">Счет на оплату № @Model.DocNumber от @Model.DocDate.ToLongDateString()</h1>
        <hr style="height:1px;background-color:black;margin-top:0px" /><br />
        <table width="100%">
            <tr>
                <td style="text-align: left; font: 13px;width=30%">Поставщик:</td>
                <td style="text-align: left; font: 11px bold">@Model.Organisation.FullName, ИНН @Model.Organisation.INN, @Model.Organisation.KPP, @Model.Partner.LegalAddress</td>
            </tr>
            <tr>
                <td style="text-align: left; font: 13px;width=30%">Грузоотправитель:</td>
                <td style="text-align: left; font: 11px bold">@Model.Organisation.FullName, ИНН @Model.Organisation.INN, @Model.Organisation.KPP, @Model.Partner.LegalAddress
                <td>
            </tr>
            <tr>
                <td style="text-align: left; font: 13px;width=30%">Покупатель:</td>
                <td style="text-align: left; font: 11x bold">@Model.Partner.Name, ИНН @Model.Partner.INN, @Model.Partner.KPP, @Model.Partner.LegalAddress</td>
            </tr>
            <tr>
                <td style="text-align: left; font: 13px;width=30%">Грузополучатель:</td>
                <td style="text-align: left; font: 11x bold">@Model.Partner.Name, ИНН @Model.Partner.INN, @Model.Partner.KPP, @Model.Partner.LegalAddress</td>
            </tr>
        </table>
        <br />
        <table width="100%">

            <tr style="text-align:center;font:14px;">
                <td style=" border: 1px solid; border-top: 2px solid; border-left: 2px solid">
                    №
                </td>
                <td style="        border: 1px solid;
        border-top: 2px solid">
                    Наименование работ, услуг
                </td>
                <td style="border:1px solid;border-top:2px solid">Кол-во</td>
                <td style="border: 1px solid;border-top:2px solid">Ед.</td>
                <td style="border: 1px solid;border-top:2px solid">Цена</td>
                <td style="border:1px solid;border-top:2px solid;border-right:2px solid">Сумма</td>
            </tr>
            @foreach (var t in Model.OrderPositions)
            {
                <tr style="text-align: center; font: 14px">
                    <td style="border:1px solid;border-left:2px solid">@i</td>
                    <td style="border:1px solid">@t.Material.Articul @t.Material.Name</td>
                    <td style="border:1px solid">@t.Count</td>
                    <td style="border:1px solid">@t.Material.UnitName</td>
                    <td style="border:1px solid">@((t.Price * (decimal)(t.VATRate.Price + 1)).ToString("C2"))</td>
                    <td style="border:1px solid;border-right:2px solid">@(((decimal)t.Count * (decimal)t.Price * (decimal)(t.VATRate.Price + 1)).ToString("C2"))</td>
                </tr>
                {
                    i = i + 1;

                }
            }
            <tr><td style="border-top:2px solid;"></td><td style="border-top:2px solid;"></td><td style="border-top:2px solid;"></td><td style="border-top:2px solid;"></td><td style="border-top:2px solid;"></td><td style="border-top:2px solid;"></td></tr>
            <tr style="text-align:right"><td></td><td></td><td></td><td></td><td>Итого:</td><td>@Model.OrderPositions.Sum(x => ((decimal)x.VATRate.Price + 1) * x.Price * (decimal)x.Count).ToString("C2")</td></tr>
            <tr style="text-align:right"><td></td><td></td><td></td><td></td><td>В том числе НДС:</td><td>@Model.OrderPositions.Sum(x => (((decimal)x.VATRate.Price) * x.Price * (decimal)x.Count)).ToString("C2")</td></tr>
            <tr style="text-align:right"><td></td><td></td><td></td><td></td><td>Всего к оплате:</td><td>@Model.OrderPositions.Sum(x => ((decimal)x.VATRate.Price + 1) * x.Price * (decimal)x.Count).ToString("C2")</td></tr>
        </table>
        <p style="margin-bottom:0">Всего оказано услуг @Model.OrderPositions.Count(), на сумму @Model.OrderPositions.Sum(x => ((decimal)x.VATRate.Price + 1) * x.Price * (decimal)x.Count).ToString("C2") @mybankacc.Currency.ShortName</p>
        <p style="font:14px bold;margin-top:0">@RSDN.RusCurrency.Str(Model.OrderPositions.Sum(x => (double)(((decimal)x.VATRate.Price + 1) * x.Price *(decimal)x.Count)))</p>

        <hr style="height:1px;background-color:black;margin-top:0px" /><br />
        <table style="width:100%;text-align:center;font:12px;border-collapse:separate">
            <tr><td style="text-align:left">Руководитель</td><td>Генеральный директор</td><td></td><td>@Model.Partner.Director</td></tr>
            <tr><td></td><td style="font:9px;border-top:1px solid black;margin-top:0px">должность</td><td style="font:9px;border-top:1px solid black;margin-top:0px">подпись</td><td style="font:9px;border-top:1px solid black;margin-top:0px">расшифровка подписи</td></tr>
            <tr><td colspan="2" style="text-align:left">Главный (старший) бухгалтер</td><td></td><td>@Model.Partner.Director</td></tr>
            <tr><td colspan="2"><td style="font:9px;border-top:1px solid black;margin-top:0px">подпись</td><td style="font:9px;border-top:1px solid black;margin-top:0px">расшифровка подписи</td></tr>
            <tr><td colspan="2" style="text-align:left">Ответственный</td><td></td><td></td></tr>
            <tr><td colspan="2"><td style="font:9px;border-top:1px solid black;margin-top:0px">подпись</td><td style="font:9px;border-top:1px solid black;margin-top:0px">расшифровка подписи</td></tr>
        </table>
    </div>
</body>
</html>
