@model IEnumerable<ViachappaFactAuth.DB.Order>

@{
    ViewBag.Title = "IncomingOrders";
}

<h2>Список приходных документов</h2>

<p>
    @Html.ActionLink("Создать", "IncomingOrdersCreate")
</p>
<table class="table">
    <tr>
        <th>Номер документа</th>
        <th>Дата документа</th>
        <th>Контрагент</th>
        <th>Организация</th>
        <th>Договор</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.DocNumber
            </td>
            <td>
                @item.DocDate.ToShortDateString()
            </td>
            <td>
                @item.Partner.Name
        </td>
        <td>
            @item.Organisation.ShortName
        </td>
        <td>
            @item.Contract.ContractNumber
        </td>
        <td>
            @Html.ActionLink("Просмотреть", "IncomingOrder", new { id = item.Id })
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id, delete = 1 })
        </td>
    </tr>
}
</table>
<script>

</script>
