@model ViachappaFactAuth.DB.OrderPosition

@{
    ViewBag.Title = "OrderPositionCreate";
}

<h2>Добавление позиции</h2>

@using (Html.BeginForm("OutgoingOrderPositionCreate", "Factory", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(x => x.Order_Id)

    <div class="form-group">
        <label class="control-label col-md-2" for="Material_Id">Номенклатурная единица</label>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Material_Id, new SelectList(new Dictionary<string, string>(), "Key", "Value"), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Material_Id, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="Count">Количество</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Count, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="Price">Цена</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="VATRate_Id">НДС</label>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.VATRate_Id, new SelectList(new Dictionary<int, string>(), "Key", "Value"), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.VATRate_Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="PlanAccountType_Id">Счет</label>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.PlanAccountType_Id, new SelectList(new Dictionary<int, string>(), "Key", "Value"), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PlanAccountType_Id, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Добавить позицию" class="btn btn-danger" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Назад", "OutgoingOrders")
</div>

<script>
    $('#Material_Id').select2({
            ajax: {

                url: '/dropdownlist/Materials',
                type: "post",
                dataType: 'json',
                data: function (params) {
                    return {
                        key: params.term
                    };
                },
                processResults: function (response) {
                    return {
                        results: response
                    };
                },
                cache: true
            },
    });
    $('#PlanAccountType_Id').select2({
            ajax: {

                url: '/dropdownlist/PlanAccountTypes',
                type: "post",
                dataType: 'json',
                data: function (params) {
                    return {
                        key: params.term
                    };
                },
                processResults: function (response) {
                    return {
                        results: response
                    };
                },
                cache: true
            },
    });
    $('#VATRate_Id').select2({
            ajax: {

                url: '/dropdownlist/VATRates',
                type: "post",
                dataType: 'json',
                data: function (params) {
                    return {
                        key: params.term
                    };
                },
                processResults: function (response) {
                    return {
                        results: response
                    };
                },
                cache: true
            },
        });
</script>

